@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Noto Sans TC', sans-serif;
}

button {
  margin: 20px 40px;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  border-color: #00b3ff;
  background-color: #00b3ff;
  font-weight: 700;
  cursor: pointer;
}

button:active {
  color: #fff;
}

.alert-container {
  min-height: 100vh;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

.alert-container::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(86, 86, 86, 0.75);
}

.alert-container-root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-box {
  margin: 2rem;
  border-radius: 0.5rem;
  z-index: 6;
  background-color: #fff;
  transition: all 0.3s;
  min-width: 40rem;
}

.alert-box > .alert-icons-wrap {
  padding: 3rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
}

.alert-box > .alert-title {
  padding: 1rem;
  font-weight: bold;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

.alert-box > .alert-content {
  padding: 0 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: 2em;
  overflow-y: auto;
  max-height: 600px;
}

.alert-box > .alert-action {
  display: flex;
  justify-content: center;
}

.bounceIn {
  animation: bounceIn 0.75s forwards;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1)
  }
  40% {
    transform: scale3d(.9, .9, .9)
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03)
  }
  80% {
    transform: scale3d(.97, .97, .97)
  }
  to {
    opacity: 1;
    transform: scaleX(1)
  }
}

.bounceOut {
  animation: bounceOut 0.5s forwards;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9)
  }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1)
  }
  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
}

.hide {
  display: none;
}

/* --- .alert-icons ---- */

.alert-icons {
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-icons::before {
  align-items: center;
  font-size: 3.75em;
}

.alert-icons.alert-question {
  border-color: #c9dae1;
  color: #87adbd;
}

.alert-icons.alert-question::before {
  content: '';
  height: 80%;
  width: 80%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' enable-background='new 0 0 2000 2000' height='512' viewBox='0 0 2000 2000' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2387adbd'%3E%3Cpath d='m953.2 1383.7c-29.8 0-53.9-24.1-53.9-53.9 0-70.5 10-131.4 29.9-182.6 14.6-38.6 38.3-77.5 70.9-116.8 24-28.6 67-70.4 129.2-125.2 62.2-54.9 102.6-98.6 121.3-131.2s27.9-68.2 27.9-106.8c0-69.9-27.3-131.2-81.8-184.1s-121.4-79.3-200.6-79.3c-76.5 0-140.4 24-191.6 71.9-37.4 35-65.5 84.4-84.1 148.2-12.8 43.8-55.5 71.8-100.8 66.4-57.4-6.8-95.2-63.6-78.8-119.1 25.2-85.3 67.4-154 126.5-206.2 82.1-72.7 190.7-109 325.8-109 143 0 257.1 38.9 342.3 116.8s127.7 172 127.7 282.4c0 63.9-15 122.8-44.9 176.6-29.9 53.9-88.5 119.4-175.6 196.6-58.5 51.9-96.8 90.2-114.8 114.8s-31.3 52.9-39.9 84.8c-6.4 23.7-10.8 58.5-13.2 104.2-1.5 28.8-25.4 51.4-54.2 51.4h-67.3zm-63.9 258c0-56.5 45.8-102.3 102.3-102.3 56.5 0 102.3 45.8 102.3 102.3 0 56.5-45.8 102.3-102.3 102.3-56.5 0-102.3-45.8-102.3-102.3z'/%3E%3C/g%3E%3C/svg%3E");

  animation: alert-animate-question-mark .8s;
}

@keyframes alert-animate-question-mark {
  0% {
    transform: rotateY(-360deg)
  }
  100% {
    transform: rotateY(0)
  }
}

.alert-icons.alert-error {
  animation: alert-animate-error-icon 0.5s;
  border-color: #f27474;
  color: #f27474;
}

@keyframes alert-animate-error-icon {
  0% {
    transform: rotateX(100deg);
    opacity: 0
  }
  100% {
    transform: rotateX(0);
    opacity: 1
  }
}

.alert-icons.alert-error::before {
  content: '';
  height: 55%;
  width: 55%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg height='329pt' viewBox='0 0 329.26933 329' width='329pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f27474'%3E%3Cpath d='m21.339844 329.398438c-5.460938 0-10.925782-2.089844-15.082032-6.25-8.34375-8.339844-8.34375-21.824219 0-30.164063l286.589844-286.59375c8.339844-8.339844 21.824219-8.339844 30.164063 0 8.34375 8.339844 8.34375 21.824219 0 30.164063l-286.589844 286.59375c-4.183594 4.179687-9.621094 6.25-15.082031 6.25zm0 0'/%3E%3Cpath d='m307.929688 329.398438c-5.460938 0-10.921876-2.089844-15.082032-6.25l-286.589844-286.59375c-8.34375-8.339844-8.34375-21.824219 0-30.164063 8.339844-8.339844 21.820313-8.339844 30.164063 0l286.589844 286.59375c8.34375 8.339844 8.34375 21.824219 0 30.164063-4.160157 4.179687-9.621094 6.25-15.082031 6.25zm0 0'/%3E%3C/g%3E%3C/svg%3E");

  animation: alert-animate-error-X-mark 0.5s;
}

@keyframes alert-animate-error-X-mark {
  0% {
    margin-top: 1.625em;
    transform: scale(.4);
    opacity: 0
  }
  50% {
    margin-top: 1.625em;
    transform: scale(.4);
    opacity: 0
  }
  80% {
    margin-top: -0.375em;
    transform: scale(1.15)
  }
  100% {
    margin-top: 0;
    transform: scale(1);
    opacity: 1
  }
}

.alert-icons.alert-info {
  border-color: #9de0f6;
  color: #3fc3ee;
}

.alert-icons.alert-info::before {
  content: '';
  height: 60%;
  width: 35%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='300' height='500' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Crect height='350' width='50' y='140' x='126' fill='%233fc3ee' /%3E%3Cellipse ry='33' rx='33' cy='40' cx='150' fill='%233fc3ee' /%3E%3C/g%3E%3C/svg%3E");

  animation: alert-animate-info-i-mark .8s
}

@keyframes alert-animate-info-i-mark {
  0% {
    transform: rotateZ(45deg);
    opacity: 0
  }
  25% {
    transform: rotateZ(-25deg);
    opacity: .4
  }
  50% {
    transform: rotateZ(15deg);
    opacity: .8
  }
  75% {
    transform: rotateZ(-5deg);
    opacity: 1
  }
  100% {
    transform: rotateX(0);
    opacity: 1
  }
}

.alert-icons.alert-warning {
  border-color: #facea8;
  color: #f8bb86;
}

/*
SVG 相關工具 :
  - 設計工具 : https://editor.method.ac/
  - URL 轉換工具 : https://yoksel.github.io/url-encoder/
 */
.alert-icons.alert-warning::before {
  content: '';
  height: 70%;
  width: 40%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='300' height='500' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Crect height='350' width='50' y='40' x='126' fill='%23f8bb86' /%3E%3Cellipse ry='33' rx='33' cy='465' cx='150' fill='%23f8bb86' /%3E%3C/g%3E%3C/svg%3E");
  animation: alert-animate-info-i-mark 0.4s 0.2s;
}

.alert-icons.alert-success {
  position: relative;
  border-color: #e4f4da;
  color: #a5dc86;
}

.alert-icons.alert-success::before {
  position: absolute;
  content: '';
  animation: alert-success-line-tip linear 0.1s forwards;
  animation-delay: 0.3s;
  transform: rotate(45deg);
  transform-origin: left top;
  top: calc(50%);
  left: calc(1rem + 4px);
  background-color: #a5dc86;
  height: 0.3rem;
}

.alert-icons.alert-success::after {
  position: absolute;
  content: '';
  animation: alert-success-line-long linear 0.2s forwards;
  animation-delay: 0.4s;
  transform: rotate(-45deg);
  transform-origin: left bottom;
  top: calc(50% + 18px);
  left: calc(1rem + 20px);
  background-color: #a5dc86;
  height: 0.3rem;
}

@keyframes alert-success-line-tip {
  0% {
    width: 0
  }
  100% {
    width: 1.6rem
  }
}

@keyframes alert-success-line-long {
  0% {
    width: 0
  }
  100% {
    width: 3.4rem
  }
}

/* --- button ---- */

.alert-box button:focus:not(:focus-visible) {
  outline: 0;
}

.alert-box button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.alert-box button:disabled {
  cursor: not-allowed;
  background-color: #6c757d;
  border-color: #6c757d;
}

.alert-box button {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.alert-box button:hover, .alert-box button:active {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.alert-box button:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem #98c1fe;
}
