@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0e1623;
    overflow: hidden;
}

section .text {
    font-size: 5em;
    color: #2db34a;
    -webkit-box-reflect: below -0.46em linear-gradient(transparent, #000400);
}

section .text span {
    display: inline-block;
}
