/* Google font 思源黑體 - Noto Sans TC */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #130e23;
    overflow: hidden;
}

.text {
    color: #03a9f4;
    max-width: 650px;
}

.text span {
    display: inline-block;
}
