@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


#app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    flex-direction: column;
}

#app h1{
    font-size: 80px;
    color: #e2f7fa;
}

#app input[type='radio'] {

    transition: all 0.5s;
    border-radius: 40px;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1),
                5px 5px 10px rgba(0, 0, 0, 1),
                inset -2px -2px 5px rgba(255, 255, 255, 0.1),
                inset 2px 2px 5px rgba(0, 0, 0, 1),
                0 0 2px #807f7f;
    cursor: pointer;
    position: relative;
    width: 240px;
    height: 80px;
    margin: 20px;
    background-color: #333333;
    outline: none;

    /* appearance: none|normal|icon|window|button|menu|field; */
    appearance: none;
}

#app input[type='radio']:checked {

    background-color: #20b7ff;
}

#app input[type='radio']::before {

    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: calc(100% - 80px);
    height: 100%;
    background:linear-gradient(to top,#000,#555);
    box-shadow: 0 0 0 8px #232323;
    transform: scale(0.87,0.84);
    border-radius: 40px;
    transition: all 0.3s;
}

#app input[type='radio']:checked::before {
    left: 85px;
}

#app input[type='radio']::after {

    content: '';
    position: absolute;
    left: 120px;
    top:50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #555;
    transition: all 0.3s;
    transform: translateY(-50%);
}

#app input[type='radio']:checked::after {
    left: calc(120px + 85px);
    background-color: #20b7ff;
    box-shadow: 0 0 5px #20b7ff,
                0 0 15px #20b7ff,
                0 0 30px #20b7ff;
}