/* 引入思源黑體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    background-color: #000;
    cursor: context-menu;
}

section {
    padding: 40px;
    color: #666;
}

section h2 {
    font-size: 3.5em;
}

section p {
    font-size: 1.2em;
}

#cursorMeter{
    position: fixed;
    top: 0;
    width: 400px;
    height: 80px;
    pointer-events: none;
    z-index: 3;
}

#scrollPath{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #333;
}

#percent{
    position: absolute;
    top: 30px;
    left: 0;
    color: #333;
    font-size: 1.2em;
    padding: 2px 5px;
    background-color: #fff;
}

#pregressBar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left,#008aff,#00ffe7);
    animation: ani 5s linear infinite;
}

#pregressBar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left,#008aff,#00ffe7);
    filter: blur(10px);
}

#pregressBar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left,#008aff,#00ffe7);
    filter: blur(30px);
}

@keyframes ani {
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
